
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}
::-webkit-scrollbar-thumb {
  display: none
 }
 
 ::-webkit-scrollbar {
   display: none
 }
 .text-center{
   text-align: center
 }
 .mb20{
   margin-bottom: 20px
 }
 .mt20{
   margin-top: 20px
 }
 .vm{
  vertical-align: middle !important;
 }
 .ant-card{
  border: none;
}
.ant-card-head-title h2 {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: lighter;
  color: #fff;
}
.ant-card-head-title p {
  margin-bottom: 0;
  font-size: 11px;
  font-weight: lighter;
}