
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}
::-webkit-scrollbar-thumb {
  display: none
 }
 
 ::-webkit-scrollbar {
   display: none
 }
 .text-center{
   text-align: center
 }
 .mb20{
   margin-bottom: 20px
 }
 .mt20{
   margin-top: 20px
 }
 .vm{
  vertical-align: middle !important;
 }