@import '~themes/vars.less';

.backTop {
  right: 50px;

  :global {
    .ant-back-top-content {
      background: @primary-color;
      opacity: 0.3;
      transition: all 0.3s;
      box-shadow: 0 0 15px 1px rgba(69, 65, 78, 0.1);

      &:hover {
        opacity: 1;
      }
    }
  }
}

.layout {
  padding: 0 16px 43px 16px;
  background: transparent;
  // height:  ~'calc(100% - 130px)';
}
.content {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  :global {
    .contentInner {
      flex: 1;
    }
    .right-row {
      display: flex;
      flex-direction: column;
      padding-left: 8px;
      .card-right-top {
        margin-bottom: 8px;

        .ant-card-head-title {
          padding: 0;
          padding-top: 20px;
        }
        .ant-card-body {
          overflow-y: auto;
        }
      }
      .ant-card-head {
        border: none;
        color: #fff;
        padding: 0 30px;
      }
      .ant-card {
        flex: 1;
        border: none;
        background-color: rgba(11, 20, 31, 0.8);

        &:first-child {
          margin-bottom: 8px;
        }
      }

      .ant-card-body {
        color: #fff;
        //text-align: right;
        padding: 0 30px;
      }
      .card-right-bottom {
        background-color: transparent;
        .ant-card-body {
          padding: 0;
          height: 100%;
        }
      }
      .bar {
        flex: 0 0 280px;
      }
    }
    @media (max-width: 768px) {
      .right-row {
        height: 280px;
        flex-direction: row;
        margin-top: 8px;
        padding-left: 0;
        align-items:stretch;
          .ant-card {
            &:first-child {
              margin-bottom: 0;
              margin-right: 8px;
            }
          }
          .card-right-bottom.bar {
            flex: 1
          }
        }
      }
  }
}
.container {
  height: 100vh;
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  background: url(/main_bg.jpg) no-repeat center;
  background-size: cover;
}

@media (max-width: 767px) {
  .content {
    padding: 12px;
  }

  .backTop {
    right: 20px;
    bottom: 20px;
  }

  .container {
    height: 100vh;
    flex: 1;
    width: 100%;
  }
}
